@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/* Variables */
:root {
  --background: #02050e;
  --primary: #1e50ff;
  --secondary: #272d37;
  --btn-bg: #050d26;
  --bg-azul-10: #e9eeff;
  --bg-white: #fff;
  --bg-electric: #f0fbff;
  --nav-bg: #0f1525;

  /* Text colors */
  --text-gray: #adb9c7;
  --text-white: #f3f4f6;

  /* Decoration */
  --fire: #ff6d00;
  --electric: #64d3ff;

  --max-width: 1200px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  /* Debugger */
  /* border: 1px solid red; */
}

/* Header */
header {
  /* background: #272d37; */
  background: var(--secondary);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 30px;
  height: 65px;
}

.navbar,
.navbar-list {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Arriba reutilizamos los mismos estilos */
/* .navbar-list {
  display: flex;
  align-items: center;
  justify-content: center;
} */

.logo {
  height: 40%;
}

.navbar {
  gap: 150px;
}

.navbar-list {
  gap: 20px;
}

.navbar-list a {
  color: var(--text-gray);
  font-size: 14px;
}

/* Main */
body {
  background-color: var(--background);
}
main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

/* Hero */
#hero {
  max-width: var(--max-width);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 100px;
  padding: 70px 0;
}

.hero-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  width: 50%;
}

.hero-info h1 {
  font-size: 48px;
  font-weight: 800;
  color: var(--text-white);
}

.hero-info p {
  font-size: 14px;
  width: 70%;
  color: var(--text-gray);
}

.hero-info span {
  font-weight: 800;
  text-transform: uppercase;
}

.hero-info a {
  background: var(--primary);
  color: var(--text-white);
  border-radius: 10px;
  padding: 10px 25px;
  font-size: 14px;
}

/* Card */
.hero-card {
  background: var(--secondary);
  padding: 20px;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 300px;
}

.hero-card-info {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.hero-card-top {
  display: flex;
  align-items: center;
  gap: 10px;
}

.hero-card-top h3 {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  font-size: 16px;
}

.hero-card-top span {
  background: var(--primary);
  padding: 5px 15px;
  border-radius: 10px;
  font-size: 14px;
}

.hero-card-bottom {
  display: flex;
  justify-content: space-between;
}

.hero-card-creator {
  display: flex;
  align-items: center;
  gap: 10px;
}

.hero-card-creator img {
  height: 40px;
}

.creator-title,
.hero-card-price p {
  color: var(--text-gray);
  font-size: 12px;
}

.creator-name {
  color: var(--text-white);
  font-size: 14px;
}

.hero-card-price {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.hero-card-price span {
  font-weight: 700;
}

/* ------------------------------------------------------------- */
/* ====================== INFO SECTION ========================= */
/* ------------------------------------------------------------- */

#info {
  max-width: var(--max-width);
  padding: 70px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 70px;
  /* border: 1px solid green; */
}

#info h2 {
  font-size: 32px;
  font-weight: 800;
}

.info-cards-container {
  /* background: crimson; */
  display: flex;
  gap: 20px;
}

.info-card {
  background: var(--secondary);
  padding: 40px 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 20px;
  border-radius: 10px;
  max-width: 300px;
}

.info-card img {
  width: 50px;
}

.info-card h3 {
  font-size: 18px;
  font-weight: 600;
}

.info-card p {
  font-size: 14px;
  font-weight: 300;
  color: var(--text-gray);
}

/* ------------------------------------------------------------- */
/* ==================== DISCOVER SECTION ======================= */
/* ------------------------------------------------------------- */
#discover {
  max-width: var(--max-width);
  /* border: 1px solid blue; */
  padding: 70px 0;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.discover-info {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.discover-info h2 {
  width: 45%;
  font-size: 32px;
  font-weight: 800;
}

.discover-text {
  width: 45%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.discover-text p {
  font-weight: 300;
  color: var(--text-gray);
}

.discover-text a {
  color: var(--text-white);
  text-decoration: underline;
  font-weight: 600;
}

.discover-cards {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.discover-cards img {
  width: 30%;
}

/* ------------------------------------------------------------- */
/* ==================== PRODUCTS SECTION ======================= */
/* ------------------------------------------------------------- */

#products {
  max-width: var(--max-width);
  /* border: 1px solid blue; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
  padding: 70px 0;
}

#products h2 {
  font-size: 32px;
  font-weight: 800;
}

.categories {
  display: flex;
  gap: 15px;
  align-items: center;
  justify-content: center;
}

.category {
  background: var(--btn-bg);
  color: var(--text-white);
  border: none;
  padding: 10px 15px;
  border-radius: 10px;
  cursor: pointer;
}

.active {
  background: var(--primary);
}

/* Products */
.products-container {
  /* border: 1px solid orange; */
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 40px 0;
}

.product {
  background: var(--secondary);
  padding: 20px;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.product-info {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.product-top,
.product-mid,
.product-bot {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.product-top h3 {
  font-size: 16px;
  font-weight: 600;
}

.product-top p,
.product-user p {
  font-weight: 400;
  color: var(--text-gray);
}

.product-user {
  display: flex;
  align-items: center;
  gap: 10px;
}

 .product-mid .price {
  font-weight: 800;
}

.offer-time {
  display: flex;
  align-items: center;
  gap: 10px;
  font-weight: 600;
}

.offer-time img {
  width: 20px;
}

.btn-add {
  background: var(--primary);
  border: none;
  color: var(--text-white);
  padding: 10px 20px;
  border-radius: 10px;
  cursor: pointer;
}

.btn-more {
  background: none;
  color: var(--text-white);
  border: 1px solid var(--electric);
  padding: 10px 20px;
  border-radius: 10px;
  cursor: pointer;
}

/* ------------------------------------------------------------- */
/* ==================== FOOTER ================================= */
/* ------------------------------------------------------------- */

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 40px;
  padding: 70px 0;
}

footer a,
footer p {
  color: var(--text-gray);
  font-weight: 300;
  font-size: 14px;
}

.footer-links {
  display: flex;
  gap: 30px;
}

footer span {
  font-weight: 800;
}
