.form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  justify-content: center;
}

.form__input {
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  outline: none;
  background: #272727;
}