* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #131415;
}

.section {
  height: 100vh;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.section p {
  max-width: 800px;
  text-align: center;
}

.caja {
  width: 100%;
  height: 100px;
  background-color: crimson;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  position: sticky;
  top: 0;

}

nav {
  display: flex;
  gap: 20px;
}

nav a {
  color: #fff;
}